.checkbox{
  margin: 30rpx 20rpx;
  padding-left: 10rpx;
  box-shadow: 1rpx 3rpx 6rpx 1rpx #a1a1a1;
  height: 240rpx;
  width: 92%;
  border-radius: 5rpx;
}
.checkbox_img{
  width: 200rpx;
  height: 200rpx;
  margin: 23rpx 10rpx;
  position: absolute;
}
.goodsInfo{
  position: relative;
  margin-left: 220rpx;
  margin-top: 15rpx;
  text-indent: 1rem;
}
.goodsName{
  color: #414141;
  font-size: 30rpx;
}
.goodsDetail{
  display: flex;
  flex-direction: row;
  margin-top:100rpx;
}
.goods_price{
  font-size: 28rpx;
  color: red;
  margin-left: -25rpx;
}
